

.background-img {
	background: url(https://i.ytimg.com/vi/dT2oCWFhXCs/maxresdefault.jpg);
	background-repeat: none;
	background-position: center;
	height: 700px;
}




.head-left h2 { 
	font-size: 20px;
}

.head-right a { 

	text-align: center;
	font-size: 10px;

}


.container1 {
	padding-top: 150px;
		

}

.head-left { 
	color: #f3f6f8;
	font-size: 20px;

}

.head-left h6 { 
	color: black;

}

.head-left h6:hover { 
	color: white;

}

.story { 
	text-align: center;

}

.story h3 { 
	font-size: 40px;
	padding-bottom: 30px;


}

.story p { 
	font-size: 25px;
	padding-right: 130px;
	padding-left: 130px;
}

.container2 { 
	padding-top: 150px;

}

.img-circ {
	margin:auto;
	text-align: center;		
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.img-circ::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: rgba(0,0,0,.7);
	transition: all .3s;
	border-radius: 50%;
}

.img-circ:hover::before {
	opacity: 1;
	border-radius: 50%;

}

.hover-overlay {
	opacity: 0;
	color: white;
	font-family: Helvetica;
	transition: all .5s;  
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-70%);
}

.img-circ:hover .hover-overlay {
	opacity: 1;
	transform: translate(-50%,-50%);

}


.brooks {
	background-image: url('Images4/brooks.png');
}

.sebastian {
	background-image: url('Images4/seb.png');
}

.lula {
	background-image: url('Images4/lula.png');
}



.fam-info h3 { 
	text-align: center;
}

.fam-info p { 
	text-align: center;
	font-size: 17px;
}




.container3 {
	padding-top: 120px;


}

.vid  { 
	padding-bottom: 50px;
	text-align: center

}

.vid iframe { 
	width: 720px;
	height: 450px;

}

.container4 { 
	padding-top: 50px;


}


.background-img2 { 
	background: url(Images4/future.png);
	background-repeat: none;
	background-position: center;
	height: 650px;

}

.my-future { 
	padding-left: 80px;
	padding-top: 190px;

}

.my-future h1 { 
	color: white;
	font-size: 33px;


}

.my-future h2 { 
	color: white;
	font-size: 30px;
	padding-left: 20px;


}

.container5 { 

padding-top: 80px;
text-align: center;




}

.finish h5 { 
	font-size: 20px;
}

.finish h6 { 

	padding-bottom: 80px;
	font-size: 18px;

}

@media(max-width: 992px) { 

	.my-future h1 { 
		color: white;
		font-size: 25px;

	}

	.my-future h2 { 
		color: white;
		font-size: 20px;
		padding-left: 10px;

	}

}

@media(max-width: 872px) { 

	.background-img {
		height: 550px;
	}

	.container1 { 
		padding-top: 50px;
	}

	.container2 { 
		padding-top: 50px;
	}

	.fam-info p { 
		padding-left: 50px;
		padding-right: 50px;
	}


}

@media(max-width: 740px) { 
	.vid iframe{ 
		width: 640px;
		height: 400px;
	}

	.story p { 
		font-size: 20px;
	}

}

@media(max-width: 700px) { 
	.background-img2 { 
		background-image: url('http://www.billboard.com/files/styles/article_main_image/public/media/future-press-2016-billboard-650.jpg');
		height: 400px;
	}

	.my-future { 
		padding-left: 80px;
		padding-top: 10px;
	}

	.my-future h2 { 
		color: white;
		font-size: 20px;
		padding-left: 20px;

	}

	.story p { 
		font-size: 18px;
	}
}

@media(max-width: 660px) { 
	.vid iframe { 
		width: 496px;
		height: 310px;

	}

}









